{% extends "base.html.jinja" %}
{% block title %}LLM Character Simulator{% if response %} Response{% endif %}{% endblock title %}
{% block body %}
<div class="box">
  <b>Simulate a Character</b>
  <form name="simulate_character" method="post">
    <label for="character_card">Character Description</label>
    <br>
    {% with body = character_card_autofill|default('')|wordwrap %}
    <textarea name="character_card" id="character_card" rows="{{ (body.count('\n') + 1,8)|max }}" cols="80" required="true">{{ body|escape }}</textarea>
    {% endwith %}
    <br>
    <label for="current_situation">Current Situation</label>
    <br>
    {% with body = current_situation_autofill|default('')|wordwrap %}
    <textarea name="current_situation" id="current_situation" rows="{{ (body.count('\n') + 1,8)|max }}" cols="80" required="true">{{ body|escape }}</textarea>
    {% endwith %}
    <br>
    <input type="submit" id="simulate_character_submit_button" name="simulate_character_submit_button" value="Simulate">
  </form>
</div>
{% if response %}
<div class="box">
  <label for="response">LLM Response</label>
  <br>
  {% with body = response|wordwrap %}
  <textarea name="response" id="response" rows="{{ body.count('\n') + 1 }}" cols="80" readonly="true">{{ body|escape }}</textarea>
  {% endwith %}
</div>
{% endif %}
{% endblock body %}
